
@{
    ViewBag.Title = "AddTeam";
}


<h2>Echipele mele</h2>
<br />
<p>Verificati existenta echipei</p>
<ul class="list-group">
    @foreach (var elem in ViewBag.Echipe)
    {
        <a href="/Teams/Show/@elem.Value" target="_blank"><li class="list-group-item">@elem.Text</li></a>
    }
</ul>

<a href="/Projects/New" class="btn btn-default">Creaza proiect cu o echipa existenta</a> 
<br />
<br />
<a href="/Teams/NewTeam" class="btn btn-default" >Adauga echipa</a> 