
@{
    ViewBag.Title = "HomePage";
}

<br/>
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <div class="panel" style="border-color:#1a1a1a">
                <div class="panel-body" style="background-color:#ffff66">
                    <h2><b>TaskApp</b></h2>
                    <hr style="border-color:#1a1a1a" />
                    <br />
                    <h4 style="margin-left:5%; font-family:'Monaco', monospace;">TaskApp - noua aplicatie care iti face munca mai usoara!</h4>
                    <h4 style="margin-left:5%; font-family:'Monaco', monospace;">Organizeaza-ti echipele, proiectele si task-urile intr-un mod simplu si eficient!</h4>
                    <br />
                    <h4 style="text-align:right; font-family:'Monaco', monospace;">Incearca, este gratis!</h4>
                    <hr style="border-color:#1a1a1a"/>
                    <div class="pull-right">
                        <a href="/Account/Login" class="btn btn-primary" style="background-color:black; width:100px"><span style="color:#ffff66">LOGIN<span /></a> &nbsp;
                        <a href="/Account/Register" class="btn btn-primary" style="background-color:black;width:100px"><span style="color:#ffff66">REGISTER<span /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>