@{
    ViewBag.Title = "Home Page";
}
<h3>@ViewBag.Message</h3>
<h2>Proiectele mele</h2>
<div>
    <a class="btn btn-success pull-left" href="/Projects/New">Adauga proiect</a> &nbsp;
    <a class="btn btn-success" href="/Teams/New">Adauga echipa</a>
    <div class="clearfix"></div>

</div>
<br />
<br />
@foreach (var elem in ViewBag.Projects)
{
    <a class="btn btn-info" href="/Projects/Show/@elem.ProjectId">@elem.ProjectName</a>
    <br />
    <br />
}
<hr />
<br />
<h2>Echipele mele</h2>
@foreach (var elem in ViewBag.Teams)
{
    <a class="btn btn-info" href="/Teams/Show/@elem.TeamId">@elem.TeamName</a>
    <br />
    <br />
}