
@{
    ViewBag.Title = "Echipe";
}

@Html.Partial("_Notification")

<br />
<br />
<div class="panel panel-primary" style="border-color:#006600; margin-left:35%; margin-right:35%">
    <div class="panel-heading" style="background-color:#006600; border-color:#006600;">
            <h3 style="text-align:center">Echipele existente</h3>
    </div>
    <div class="panel-body" style="background-color:#ffff66; border-color:#006600; padding:0px;">
        @foreach (Proiect.Models.Team t in ViewBag.Teams)
        {
            <li class="list-group-item" style="background-color:#ffff66; border-color:#006600;">
                <a href="/Teams/Show/@t.TeamId"> <span class="glyphicon glyphicon-hand-right"></span>&nbsp;<b>@t.TeamName</b></a>
            </li>
        }
        <div class="clearfix"></div>
    </div>
</div>

