@model Proiect.Models.Team

@{
    ViewBag.Title = "NewMember";
}

<h2>NewMember</h2>

@using (Html.BeginForm(actionName: "NewMember", controllerName: "Teams", routeValues:new {UserId = Model.UserId, TeamId = Model.TeamId}))
{
    <br />
    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.TeamId)
    <br />

    @Html.Label("AuxUser", "Alegeti membrul")
    @Html.DropDownListFor(m => m.AuxUser, new SelectList(Model.Members, "Value", "Text"), "Selectati membrul", new { @class = "form-control" })

    <br />

    <button class="btn btn-default" type="submit">Adaugati membrul</button>
}
<br />


