@model Proiect.Models.Team
@{
                /**/

                ViewBag.Title = "NewMember";
}
<h2>NewMember</h2>
@using (Html.BeginForm(actionName: "NewMember", controllerName: "Teams", routeValues: new { UserId = Model.UserId, TeamId = Model.TeamId }))
{
    <br />
    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.TeamId)
    <br />

    <h1>Adauga un membru</h1>
    <select name="Ruser">
        @foreach (var elem in ViewBag.UnusedUser)
        {
            <option value="@elem.Id">
                @elem.UserName
            </option>
        }
    </select>

    <br />
    <br />

    <button class="btn btn-default" type="submit">Adaugati membrul</button>
}
<br />

